{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
    <!-- blog -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center ">
                        <h2>
{#                            <img src="{% static 'pages/images/heading.png' %}" alt="#"/>#}
                            {{ object.related.related_model }}</h2>
                    </div>
                </div>
            </div>
            <div class="row d_flex">
                <div class=" col-md-10 offset-md-1">
                    <div class="blog_post text_align_center">
                        <figure><img alt="#" src="{% static 'pages/images/blog.jpg' %}"/></figure>
                        <h4></h4>
                        <div class="facil">
{#                            <h3>{{ object.title }}</h3>#}
                            <br>
                            <strong><span>Post By : Yonas Y. </span><span>{{ object.created_at }}</span></strong>
{#                            <h3>Changing your car's oil is one of the most important things you can do to keep it#}
{#                                running#}
{#                                smoothly</h3>#}
{#                            It's also one of the easiest things to do yourself, and it can save you a lot of#}
{#                            money in the long run.#}
{#                            <br>#}
{#                            Here's a step-by-step guide on how to change your car's oil without needing a mechanic:#}
                            <br>
                            <br>
                            <div class="container">
                                {{ object.texts }}
                            </div>


{#                            <span style="font-weight: bold; font-size: 32px;">#}
{#                            That's it! You've now successfully changed your car's oil without needing a mechanic.#}
{#                            Congratulations!#}
{#                        </span>#}
                            <!--                        <a class="read_more" href="blog.html">Read More</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end blog -->
{% endblock content %}
