{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
  <!-- blog -->
      <div class="blog">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center ">
                     <h2>
<!--                        <img src="{% static 'pages/images/heading.png' %}" alt="#"/>-->
                         Our Latest Blog</h2>
                  </div>
               </div>
            </div>
            <div class="row d_flex">
               <div class=" col-md-10 offset-md-1">
                  <div class="blog_post text_align_center">
                     <figure><img src="{% static 'pages/images/blog.jpg' %}" alt="#"/></figure>
                     <h4></h4>
                     <div class="facil">
                        <h3>Facillimum, Qui Fecit Vos. Potes m</h3>
                        <strong><span>Post By : Auto Repair </span><span>March 5, 2020</span></strong>
                        <p> when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
<!--                        <a class="read_more" href="blog.html">Read More</a>-->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end blog -->
{% endblock content %}