{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<!-- services -->
<div class="services" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_left">
                    <h2>
<!--                        <img src="{% static 'pages/images/driver.png' %}" style="height: 50px;" alt="#"/>-->
                        Our Services
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div id="ho_heal" class="our_class text_align_center">
                    <i class="d_no"><img src="{% static 'pages/images/suv.png' %}" alt="#"/></i>
                    <i class="d_bo"><img src="{% static 'pages/images/suv.png' %}" alt="#"/></i>
                    <h3>AUTO</h3>
                    <strong>Requirements</strong>
                    <p>
                        - ID (Kebele/Passport ...)
                        <br>
                        - 10th Grade Certificate
                    </p>
                    <a class="read_more" href="javascript:void(0)">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mar_top90">
                <div id="ho_heal" class="our_class text_align_center">
                    <i class="d_no"><img src="{% static 'pages/images/public_1.png' %}" alt="#"/></i>
                    <i class="d_bo"><img src="{% static 'pages/images/public_1.png' %}" alt="#"/></i>
                    <h3>PUBLIC - 1</h3>
                    <strong>Requirements</strong>
                    <p>
                        - ID (Kebele/Passport ...)
                        <br>
                        - 10th Grade Certificate
                    </p><a class="read_more" href="javascript:void(0)">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div id="ho_heal" class="our_class text_align_center">
                    <i class="d_no"><img src="{% static 'pages/images/cargo_1.png' %}" alt="#"/></i>
                    <i class="d_bo"><img src="{% static 'pages/images/cargo_1.png' %}" alt="#"/></i>
                    <h3>CARGO - 1</h3>
                    <strong>Requirements</strong>
                    <p>
                        - ID (Kebele/Passport ...)
                        <br>
                        - 10th Grade Certificate
                    </p><a class="read_more" href="javascript:void(0)">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end services -->
{% endblock content %}
